<menu>
  <button class="event_button" data-event="action_field:add" for="person_children_attributes-action_field-container" data-template="
    <div id='new_record' class='action_field-member' data-object-name='new_record[0]'>
      <input type='hidden' name='new_record[0][id]' value='999' />
      <input type='hidden' name='new_record[0][_destroy]' value='true' />
      <input type='text' name='new_record[0][name]' value='shobon' />
    </div>
  ">追加</button>
  <button class="event_button action_field-destroy_record" data-event="action_field:remove" for="person_children_attributes_1-action_field-member">削除</button>
</menu>
