<ul id="person_children_attributes-action_field-container" class="action_field-container" data-object-name="person[children_attributes]">
  <li id="person_children_attributes_0-action_field-member" class="action_field-member" data-object-name="person[children_attributes][0]">
    <input type="hidden" id="person_children_attributes_0_id" name="person[children_attributes][0][id]" value="1" />
    <input type="hidden" id="person_children_attributes_0__destroy" name="person[children_attributes][0][_destroy]" value="false" />
    <input type="text" id="person_children_attributes_0_name" name="person[children_attributes][0][name]" value="涼宮ハルヒ" />
    <input type="number" id="person_children_attributes_0_height" name="person[children_attributes][0][height]" />
    <input type="text" id="person_children_attributes_0_children_attributes_0_name" name="person[children_attributes][0][children_attributes][0][name]" />
    <button class="event_button action_field-destroy_record" data-event="action_field:remove" for="person_children_attributes_0-action_field-member">削除</button>
  </li>
  <li id="person_children_attributes_1-action_field-member" class="action_field-member" data-object-name="person[children_attributes][1]">
    <input type="hidden" id="person_children_attributes_1_id" name="person[children_attributes][1][id]" value="2" />
    <input type="hidden" id="person_children_attributes_1__destroy" name="person[children_attributes][1][_destroy]" value="false" />
    <input type="text" id="person_children_attributes_1_name" name="person[children_attributes][1][name]" value="長門有希" />
    <input type="number" id="person_children_attributes_1_height" name="person[children_attributes][1][height]" />
    <input type="text" id="person_children_attributes_1_children_attributes_0_name" name="person[children_attributes][1][children_attributes][0][name]" />
    <button class="event_button action_field-destroy_record" data-event="action_field:remove" for="person_children_attributes_1-action_field-member">削除</button>
    <input type="checkbox" class="event_button" data-event="action_field:disable" for="person_children_attributes_1-action_field-member" />
  </li>
  <li id="animal_children_attributes_2-action_field-member" class="action_field-member" data-object-name="animal[children_attributes][2]">
    <input type="hidden" id="animal_children_attributes_2_id" name="animal[children_attributes][2][id]" value="3" />
    <input type="hidden" id="animal_children_attributes_2__destroy" name="animal[children_attributes][2][_destroy]" value="false" />
    <input type="text" id="animal_children_attributes_2_name" name="animal[children_attributes][2][name]" value="シャミセン" />
    <input type="number" id="animal_children_attributes_2_height" name="animal[children_attributes][2][height]" />
    <input type="text" id="animal_children_attributes_2_children_attributes_0_name" name="animal[children_attributes][2][children_attributes][0][name]" />
    <button class="event_button action_field-destroy_record" data-event="action_field:remove" for="animal_children_attributes_2-action_field-member">削除</button>
  </li>
</ul>
