<%- xxx = [["男", true], ["女", false]] -%>

<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label(:name) %>
    <%= form.text_field(:name) %>
  </div>

  <div class="field">
    <%= form.label(:height) %>
    <%= form.number_field(:height) %>
  </div>

  <div class="field">
    <%= form.label(:male) %>
    <%= form.select(:male, xxx) %>
  </div>

  <div class="field">
    <%= form.label(:birth) %>
    <%= form.date_field :birth %>
  </div>

  <fieldset id="parent">
    <legend>Parent</legend>
    <%= form.action_field(:parent) do |f| %>
      <%= f.text_field(:name) %>
      <%= f.number_field(:height) %>
      <%= f.select(:male, xxx) %>
      <%= f.date_field :birth %>
    <%- end -%>
  </fieldset>

  <fieldset id="children">
    <legend>Children</legend>
    <%= form.action_field(:children) do |f| %>
      <%= f.text_field(:name) %>
      <%= f.number_field(:height) %>
      <%= f.select(:male, xxx) %>
      <%= f.date_field :birth %>
      <%= f.remove_button %>
      <%= f.disabling_checkbox %>
    <%- end -%>
  </fieldset>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
