<%= form_tag(controller: "people", action: "collection_save") do %>
  <%= action_field("people", @people, templates: [Person.new]) do |f| %>
    <%= f.text_field(:name) %>
    <%= f.number_field(:height) %>
    <%= f.remove_button %>
  <%- end -%>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
