<%= form_tag(controller: "people", action: "collection_save") do %>
  <%= action_field("people[0]", @person, templates: [Person.new], collection: false) do |f| %>
    <%= f.text_field(:name) %>
    <%= f.number_field(:height) %>
  <%- end -%>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
