<p id="notice"><%= notice %></p>

<h1>People</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Height</th>
      <th>Male</th>
      <th>Birth</th>
      <th colspan="3"></th>
      <th>Parent</th>
      <th>Children</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.height %></td>
        <td><%= person.male %></td>
        <td><%= person.birth %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to person.parent.name, person.parent if person.parent.present? %></td>
        <td>
<%- person.children.each do |child| -%>
  <%= link_to child.name, child %>
<%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
