<%= form_tag(people_path) do %>
  <%= hidden_field(:person, :male, value: false) %>

  <%= action_field("person", templates: [Person.new], collection: false) do |f| %>
    <%= f.text_field(:name) %>
    <%= f.number_field(:height) %>
  <%- end -%>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
