<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Height:</strong>
  <%= @person.height %>
</p>

<p>
  <strong>Male:</strong>
  <%= @person.male %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @person.birth %>
</p>

<p>
  <strong>Parent:</strong>
  <%= link_to @person.parent.name, @person.parent if @person.parent.present? %>
</p>

<p>
  <strong>Children:</strong>
  <%- @person.children.each do |child| -%>
    <%= link_to child.name, child %>
  <%- end -%>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
